body{
    color:wheat;
    background-color:hsla(30,50%,60%,0.5);
    margin:50px;
}

#T01{
    border:5px dotted pink;
    border-collapse:collapse;
    padding:15px;
    width:100%;
}

#T01 th{
    text-align: right;
    background-color: blue;
    color:black;
}


table,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
}

tr,td{
    padding: 15px;
    
}

table{
    border-spacing: 5px;
}

th{
    color:midnightblue;
    text-align: left;
    background-color: white;
}

p{
    color:wheat;
    padding:30px;
}

h1{
    color: rgb(255, 238, 0);
    background: royalblue;border:sienna 5px solid;
}

ol{
    color:black;
}
